## API - www.buk.cash

In [1]:
import os
from datetime import date, datetime, timedelta
from typing import Optional
import json
from test_api_job_logs import fetch_job_logs,get_date_range
from test_api_all_functions import fetch_profiles

try:
    from supabase import create_client, Client
    from dotenv import load_dotenv
except ImportError:
    print("Error: Required packages not installed.")
    print("Please run: pip install supabase python-dotenv")

# Load environment variables from .env file if it exists
load_dotenv()

True

In [11]:
# Configuration - Update these or set as environment variables
# Project ID: qvkdyodpfauvpsamrmew
SUPABASE_URL = os.getenv("SUPABASE_URL", "https://qvkdyodpfauvpsamrmew.supabase.co")
SUPABASE_ANON_KEY = os.getenv("SUPABASE_ANON_KEY", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF2a2R5b2RwZmF1dnBzYW1ybWV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkzNzMyMDEsImV4cCI6MjA2NDk0OTIwMX0.gMscCXj733-_cT87_ErXPHaaa3YQdWE5gjpJ8XZ4yXI")
API_KEY = os.getenv("API_KEY", "07c78e44a658705dfde241ba2cd239d9")
supabase: Client = create_client(SUPABASE_URL, SUPABASE_ANON_KEY)

In [4]:
SUPABASE_URL

'https://qvkdyodpfauvpsamrmew.supabase.co'

In [4]:
res = fetch_job_logs(supabase,API_KEY, *get_date_range("last_month"))

In [5]:
import pandas as pd
df = pd.DataFrame(res)

In [15]:
data = fetch_profiles(supabase, API_KEY)

In [16]:
len(data)

159

In [23]:
import pandas as pd
df = pd.DataFrame(data)
df.head()

,id,first_name,last_name,phone,role,availability_notes,created_at,updated_at,organization_id,monthly_goal,date_of_birth,age_category,bank_account_number,custom_id,email
0,0d485cb8-15be-4322-8b0e-c0ec17429421,Sigvard,Bratlie,None,member,None,2025-12-29T16:58:16.526158+00:00,2025-12-29T16:58:16.526158+00:00,fdcd8195-39ba-4fae-a4dd-1b664b3a01f1,10,None,Unknown,None,NaN,sigvard.bratlie@gmail.com
1,89c98946-177c-449d-b072-160aa8fc93e3,Vebjørn,Risa,95184683,member,,2025-12-29T16:53:39.02338+00:00,2025-12-29T16:55:54.308244+00:00,fdcd8195-39ba-4fae-a4dd-1b664b3a01f1,10,2000-06-29,O18,999,NaN,risa.vebjorn@gmail.com
2,7d7b8231-e6d6-4a65-94ac-30e575b20045,Kjetil,Kristiansen,None,member,None,2025-12-29T16:51:22.880316+00:00,2025-12-29T16:51:22.910258+00:00,fdcd8195-39ba-4fae-a4dd-1b664b3a01f1,10,None,Unknown,26013701015,NaN,kjetilakri@gmail.com
3,d5d6b05c-d76a-49f2-b157-589c8e0b86ac,Benjamin,Muilwjik,None,member,None,2025-12-29T16:51:22.707499+00:00,2025-12-29T16:51:22.738763+00:00,fdcd8195-39ba-4fae-a4dd-1b664b3a01f1,10,None,Unknown,90521097859,NaN,josef-benjamin@hotmail.com
4,3154eaf1-bef2-4b03-8904-06d68e568fd3,Ester,Muilwijk,None,member,None,2025-12-29T16:51:22.560803+00:00,2025-12-29T16:51:22.593337+00:00,fdcd8195-39ba-4fae-a4dd-1b664b3a01f1,10,None,Unknown,90521093764,NaN,esterimu@outlook.com

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   159 non-null    object
 1   first_name           159 non-null    object
 2   last_name            159 non-null    object
 3   phone                3 non-null      object
 4   role                 159 non-null    object
 5   availability_notes   3 non-null      object
 6   created_at           159 non-null    object
 7   updated_at           159 non-null    object
 8   organization_id      159 non-null    object
 9   monthly_goal         159 non-null    int64
 10  date_of_birth        3 non-null      object
 11  age_category         159 non-null    object
 12  bank_account_number  129 non-null    object
 13  custom_id            120 non-null    float64
 14  email                159 non-null    object
dtypes: float64(1), int64(1), object(13)
memory usage: 18.8+ KB

In [ ]:
from google.cloud import bigquery
client = bigquery.Client()

In [25]:
client.load_table_from_dataframe(df, "members.buk_cash").result()

LoadJob<project=genf-446213, location=EU, id=7803e6e2-3090-48fe-bca5-c2dc6d829ceb>