## API - www.buk.cash

In [1]:
import os
from datetime import date, datetime, timedelta
from typing import Optional
import json
from test_api_job_logs import fetch_job_logs,get_date_range

try:
    from supabase import create_client, Client
    from dotenv import load_dotenv
except ImportError:
    print("Error: Required packages not installed.")
    print("Please run: pip install supabase python-dotenv")

# Load environment variables from .env file if it exists
load_dotenv()

True

In [2]:
# Configuration - Update these or set as environment variables
# Project ID: qvkdyodpfauvpsamrmew
SUPABASE_URL = os.getenv("SUPABASE_URL", "https://qvkdyodpfauvpsamrmew.supabase.co")
SUPABASE_ANON_KEY = os.getenv("SUPABASE_ANON_KEY", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF2a2R5b2RwZmF1dnBzYW1ybWV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkzNzMyMDEsImV4cCI6MjA2NDk0OTIwMX0.gMscCXj733-_cT87_ErXPHaaa3YQdWE5gjpJ8XZ4yXI")
API_KEY = os.getenv("API_KEY", "07c78e44a658705dfde241ba2cd239d9")
supabase: Client = create_client(SUPABASE_URL, SUPABASE_ANON_KEY)

In [5]:
SUPABASE_URL

'https://qvkdyodpfauvpsamrmew.supabase.co'

In [6]:
res = fetch_job_logs(supabase,API_KEY, *get_date_range("last_month"))

In [7]:
import pandas as pd
df = pd.DataFrame(res)

In [8]:
df

,id,work_request_id,worker_id,work_type,date_completed,hours_worked,comments,rating,created_at,organization_id,work_leader,hourly_rate,reviewed,worker_first_name,worker_last_name
0,9b6824c6-02de-4be8-be3c-c2a067178654,None,4ea576f4-5e78-4d8b-b2df-708cb6b80b2b,annet,2025-12-20,4.5,Vedkjøring,5.0,2025-12-20T19:48:34.033823+00:00,fdcd8195-39ba-4fae-a4dd-1b664b3a01f1,Sigvard Bratlie (admin),115,unreviewed,Gilbert,Hauk
1,0d9c51f7-9fd4-49d3-a5fa-349a1b7af200,None,4ea576f4-5e78-4d8b-b2df-708cb6b80b2b,vask,2025-12-14,2.0,Mamma vaska - mentor vet ikke- Årvoll,5.0,2025-12-20T19:52:09.070655+00:00,fdcd8195-39ba-4fae-a4dd-1b664b3a01f1,None,115,unreviewed,Gilbert,Hauk
2,29be8a6f-db32-4bba-9418-bb37551c3bd8,None,4ea576f4-5e78-4d8b-b2df-708cb6b80b2b,annet,2025-12-14,3.0,Andreas - Rigg på Årvoll,5.0,2025-12-20T19:51:31.475233+00:00,fdcd8195-39ba-4fae-a4dd-1b664b3a01f1,None,115,unreviewed,Gilbert,Hauk
3,c0201c68-8431-4178-974e-dabdc3a837c4,None,4ea576f4-5e78-4d8b-b2df-708cb6b80b2b,gjersjoen-utenomhus,2025-12-13,4.5,Yaron ukon - Sjeisen,5.0,2025-12-20T19:50:47.63228+00:00,fdcd8195-39ba-4fae-a4dd-1b664b3a01f1,None,115,unreviewed,Gilbert,Hauk
4,bc727775-2c40-4b61-aabc-72debb4ba4d1,None,518543cf-e507-4fc0-9c7f-42fd192c0bb5,vask,2025-12-02,2.0,None,NaN,2025-12-02T19:25:22.872098+00:00,fdcd8195-39ba-4fae-a4dd-1b664b3a01f1,Vebjørn Risa,115,unreviewed,Dorthe,Schytt