In [14]:
import pandas as pd
from google.cloud import bigquery

In [15]:
df = pd.read_excel("/Users/sigvardbratlie/Downloads/t.xlsx")
df.columns = [col.lower().strip().replace(" ", "_") for col in df.columns]
df.head()

,person_id,active_status,first_name,last_name,display_name,birthdate,age,gender,church_name,membership_type,cellphone,marital_status,mother_name,father_name
0,46663,Active,Emilio Seth,Baumann,Emilio Seth Baumann,2012-03-02,13,Male,Oslo og Follo,Member,+47 925 73 785,Single,Heidi Drageseth Baumann,Olav Baumann
1,47036,Active,Thilde,Baumann,Thilde Baumann,2012-09-16,12,Female,Oslo og Follo,Member,+47 96 01 63 19,Single,Janne Østmoen Baumann,Øystein Baumann
2,46723,Active,Emilio,Bjørgengen,Emilio Bjørgengen,2012-04-13,13,Male,Oslo og Follo,Member,+47 90 79 47 78,Single,Sara Bjørgengen,Harald Bjørgengen
3,46914,Active,Phebe Lauri,Boek,Phebe Lauri Boek,2012-07-06,13,Female,Oslo og Follo,Member,+47 465 18 667,Single,Jeanette Boek - de Boer,Albert Boek
4,46483,Active,Scott Aksel,Brodie,Scott Aksel Brodie,2012-01-09,13,Male,Oslo og Follo,Member,+47 47 96 88 28,Single,Silje Leisterud Brodie,Benjamin D. Brodie

In [16]:
year = 2012
dff = df.loc[df["birthdate"].dt.year == year]
print(len(dff))
dff.head()

24

,person_id,active_status,first_name,last_name,display_name,birthdate,age,gender,church_name,membership_type,cellphone,marital_status,mother_name,father_name
0,46663,Active,Emilio Seth,Baumann,Emilio Seth Baumann,2012-03-02,13,Male,Oslo og Follo,Member,+47 925 73 785,Single,Heidi Drageseth Baumann,Olav Baumann
1,47036,Active,Thilde,Baumann,Thilde Baumann,2012-09-16,12,Female,Oslo og Follo,Member,+47 96 01 63 19,Single,Janne Østmoen Baumann,Øystein Baumann
2,46723,Active,Emilio,Bjørgengen,Emilio Bjørgengen,2012-04-13,13,Male,Oslo og Follo,Member,+47 90 79 47 78,Single,Sara Bjørgengen,Harald Bjørgengen
3,46914,Active,Phebe Lauri,Boek,Phebe Lauri Boek,2012-07-06,13,Female,Oslo og Follo,Member,+47 465 18 667,Single,Jeanette Boek - de Boer,Albert Boek
4,46483,Active,Scott Aksel,Brodie,Scott Aksel Brodie,2012-01-09,13,Male,Oslo og Follo,Member,+47 47 96 88 28,Single,Silje Leisterud Brodie,Benjamin D. Brodie

In [17]:
client = bigquery.Client()
job = bigquery.LoadJobConfig(
    write_disposition="WRITE_TRUNCATE",
)
client.load_table_from_dataframe(dff, f"members.{year}", job_config=job)

LoadJob<project=genf-446213, location=EU, id=0f661725-4391-443e-874e-65c2d751fc31>

In [40]:

from datetime import datetime
now = datetime.now()
now = datetime(2024,3,12)
if now.month >= 8:
    first_year = now.year - 15
else:
    first_year = now.year - 16
tables = [first_year + i for i in range(0,3)]
tables

[2008, 2009, 2010]

In [24]:
year = 2026
genf_range = (year - 16,year - 14)
hjelpementor_range = (year - 18,year - 17)

In [28]:
print(genf_range)
h = [i+1 for i in genf_range]
h

(2010, 2012)

[2011, 2013]