In [9]:
import pandas as pd
from google.cloud import bigquery

In [22]:
df = pd.read_excel("/Users/sigvardbratlie/Downloads/t.xlsx")
df.columns = [col.lower().strip().replace(" ", "_") for col in df.columns]
df.head()

,person_id,firstname,lastname,display_name,birthdate,age,gender,church_name,email,cellphone,address_line_1,address_line_4
0,43963,Viola,Andresen,Viola Andresen,2009-08-20,14,Female,Oslo og Follo,kuleviola@icloud.com,+47 981 95 829,Sundbyveien 91,1407 Vinterbro
1,45581,Hugo,Baltzersen,Hugo Baltzersen,2011-01-12,13,Male,Oslo og Follo,hugobaltzersen@gmail.com,+47 98 19 57 71,Holterkroken 10,1448 DRØBAK
2,46452,Isak,Baumann,Isak Baumann,2011-12-13,12,Male,Oslo og Follo,isak.baumann.11@gmail.com,+47 973 18 976,Sundbyveien 99,1407 Vinterbro
3,43405,Jakob Luis,Baumann,Jakob Luis Baumann,2009-01-10,15,Male,Oslo og Follo,jaklbau09@gmail.com,+47 404 85 301,Berger Terrasse 10,1455 NORDRE FROGN
4,44265,Jenny Cornelia,Baumann,Jenny Cornelia Baumann,2010-02-02,14,Female,Oslo og Follo,jennycb8765@gmail.com,+47 973 18 152,Sundbyveien 99,1407 Vinterbro

In [23]:
df = df.loc[df["birthdate"].dt.year == 2008]
print(len(df))
df.head()

0

Empty DataFrame
Columns: [person_id, firstname, lastname, display_name, birthdate, age, gender, church_name, email, cellphone, address_line_1, address_line_4]
Index: []

In [40]:

from datetime import datetime
now = datetime.now()
now = datetime(2024,3,12)
if now.month >= 8:
    first_year = now.year - 15
else:
    first_year = now.year - 16
tables = [first_year + i for i in range(0,3)]
tables

[2008, 2009, 2010]